<body style="font-family:Verdana;">

    <div style="padding:15px;">
      <h1>Order Dash</h1>
      <hr>
      <h2>Hi {{currentUserDetails.firstName}} :-)</h2>
      <h2>Order here, we hello you in person!!</h2>
<!-- <button type="button" class="btn btn-dark">Dark</button> -->
<!-- <a class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a> -->
<!-- <a class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Link</a> -->
<!-- <button type="button" class="btn btn-link">Link</button>       -->
    </div>
    
    
